@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400");
@import url("https://fonts.googleapis.com/css?family=Roboto:100");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  scroll-behavior: smooth;
}
.home {
  background-image: url("https://images.pexels.com/photos/4256852/pexels-photo-4256852.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  scroll-behavior: smooth;
  min-height: 100vh;
}
header {
 
  font-size: 1rem;
  color: #00ADB5;
  font-family: "Lato", "sans-serif";
}

.book-icon {
  padding: 0.7rem 1rem;
}


.fa-book-open {
  color: #00ADB5;
  float: left;
  padding-top: 0.4em;
  padding-right: 0.3em;
  font-size: 2.1rem;
  
}
.successPopup {
  font-size: 18px;
  border: 1px solid green;
  text-align: center;
  position: absolute;
  background-attachment: scroll;
  padding: 0.8em;
  top: 20px;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  font-family: "Open Sans", "sans-serif";
  background-color: #0081a7;
  color: #EEE;
  display: none;
  animation: fadeInAnimation linear 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.brandLine,
.btn-add {
  color: rgba(247, 230, 204, 0.89);
  font-family: "Open Sans", "sans-serif";
  text-align: center;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 30px;
}
.brandLine {
  margin: 6em 0.5em 0.7em 1em;
}
.btn-add {
  border: 2px solid blanchedalmond;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7em;
  padding: 0.2em;
  
  transition: all 0.5s ease-in-out
}
.btn-add:hover, .btn-add:focus {
  border: 2px solid #08D9D6;
  color:#08D9D6;
  cursor: pointer;
  transform: scaleX(1.1);
  animation: pulse 1s;
  -webkit-animation: pulse 1s;
   box-shadow: 0 0 0 1em rgba(255, 255, 255, 0);
  
}

@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #08D9D6;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #08D9D6;
  }
}
.yourBooks {
  background-color: #e5e5e5 !important;
  background-color: #08D9D6;
  display: flex;
  flex-direction: column;
}
.yourBooks h2 {
  font-family: "Open Sans", "sans-serif";
  margin: 1em auto;
  margin-bottom: 0.5em;
  padding-bottom: 0.3em;
  border-bottom: 2px solid #222831;
  font-size: 2rem;
  text-align: center;
  font-weight: 700;
  color: #222831;
}
.yourBooks h2:hover {
  cursor: pointer;
}

.card{
  width:83%;
  position: relative;
   display: flex;
   box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  align-items: center;
  margin: 40px auto;
  padding-left: 3rem;
  background: #00ADB5;
  border-radius: 20px 16px 12px 32px;
  background-image: linear-gradient(to right,#05a3ac 48px, #019ba3 50px, transparent 50px); 
}
.card:after{
  content: '';
  position: absolute;
  box-sizing: inherit;
  height: 52px;
  width: 98%; 
  bottom: 6px;
  right:0px;
  background: white;
  border-radius: 32px 4px 4px 32px;
  box-shadow: inset 4px 6px 0px 0px #E4E0CE;  
  background-image: linear-gradient(to bottom, transparent 6px, #E4E0CE 8px, transparent 8px, transparent 12px, #E4E0CE 12px, transparent 14px, transparent 18px,#E4E0CE 18px, transparent 20px, transparent 24px, #E4E0CE 24px, transparent 26px, transparent 30px, #E4E0CE 30px, transparent 32px, transparent 36px, #E4E0CE 36px, transparent 38px, transparent 42px, #E4E0CE 42px, transparent 44px, transparent 48px, #E4E0CE 48px, transparent 50px);     
}

.cardContent {
  background: #00ADB5;
  width:100%;
  padding:2em 1em 1em 1em;
  line-height: 30px;
}
.title {
  background: #00ADB5;
  width:100%;
  color: #FCE38A;
  font-size: 1.4rem;
  margin-bottom: 0.8em;
}
.title:hover {
  cursor: pointer;
}
span {
  background: #00ADB5;
  padding-right: 10px;
  font-weight: 300;
  color: #eee;
  font-size: 1.2rem;
}
.div {
  background: #00ADB5;
  margin: 1rem 0;
  color: #eee;
  font-weight: 600;
  font-size: 1.2rem;
 
}
.switch {
  background: #00ADB5;
  margin-top: 1.5rem;
  position: relative;
  display: inline-block;
  width: 70px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Hide default HTML checkbox */
.switch input {
  
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  left: 4px;
  top: 3px;
  width: 15px;
  height: 15px;
  background-color: #eee;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #f32160;
}

input:checked + .slider:before {
  -webkit-transform: translateX(47px);
  transform: translateX(47px);
}
input:focus {
  outline: none;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.remove {
  font-size: 1.1rem;
  width: 8em;
  padding: 0.3em;
  border-radius: 5px;
  border: none;
  background-color: oldlace;
  color: #393E46;
  margin: 1.5rem auto 4rem;
  text-align: center;
  display: block;
  
}
.remove:hover {
  background-color: rgb(250, 213, 158);
  transition: background-color 2s;
}
form {
  background-color: rgb(7, 7, 7);
  position: absolute;
  width: 80%;
  display: none;
  background-attachment: scroll;
  padding:2em 1em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close {
  font-size: 32px;
  position: absolute;
  top: 0;
  right: 10px;
  transform: rotate(45deg);
  cursor: pointer;
  color:#08D9D6;
}

.close:hover {
  color: #FF2E63;
  transition: 0.3s ease;
}

.box {
  padding: 8px 5px;
}

.box > div > input {
  padding: 10px 0;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  width: 100%;
  box-sizing: borderbox;
  outline: none;
  border: none;
  border-bottom:2px solid #eee;
  background-color: transparent;
  font-size: 16px;
  color: #fff;
} 


.box div {
    position:relative;
}

.box div label {
  position: absolute;
  top:10px;
  left:0;
  color:#eee;
  font-family:"Open Sans", sans-serif;
  font-size: 1rem;
  transition:all .25s ease-in-out ;
  pointer-events: none;
}

.box div .msg {
  left:12px;
}

.box > div > input:focus ~ label ,
.box > div > input:valid ~ label  {
    top:-12px;
    left:0;
    color: #08D9D6; 
    font-weight:bold;
}


.box > div > input:focus,
.box > div > input:valid {
   border-bottom: 2px solid #08D9D6;    
} 

.skewBtn {
  margin-top:1.5rem;
  width: 35%;
  padding:0.5rem;
  cursor: pointer;
  text-align: center;
  background: none;
  transition: 0.5s;
  font-size: 1.1rem;
  border-radius: 5px;
  font-family: "Lato", sans-serif;
}

.container .skewBtn:hover {
  border: none;
  color: white;
  font-size: 1.2rem;
  transform: scale(1.1);
}

.orange {
  border: 2px solid #F9ED69;
  color: #eee;
  transition: all 0.3s ease-in-out;
}

.orange:hover {
  color:#222831;
  background-color: #F9ED69;
  
}



@media only screen and (min-width: 400px) {
  header {
    padding-left: 1.5em;
  }
  .yourBooks h2 {
    font-size: 2rem;
  }
  
  .cardContent {
    line-height: 33px;
  }
  .remove {
    padding: 0.5em;
  }
  form {
    padding: 1.5rem;
  }
  input {
    margin: 2rem;
  }
}

@media only screen and (min-width: 568px) {
  header {
    font-size: 1.6rem;
  }
  .fa-book-open {
    padding-top: 0.44em;
    font-size: 2.5rem;
  }
  
  /* .brandLine {
    margin-top: 5em;
  } */
  .card {
    width: 60%;
  }
  .remove {
    width: 9em;
  }
  form {
    
    padding: 1em;
  }
  .close {
    font-size: 3rem;
  }

  input {
    margin: 2.5rem;
  }
  .btn-submit {
    padding: 0.6em;
    width: 10em;
    font-size: 1rem;
    letter-spacing: 2px;
  }
}
@media only screen and (min-width: 768px) {
  .fa-book-open {
    padding-top: 0.45em;
  }

  form {
    padding:3em 2em;
    width:40%;
  }

  .box {
    padding:15px ;
  }

  .box div .msg {
    left:0;
  }
  
  .box > div > textarea:focus ~ label,
  .box > div > textarea:valid ~ label  {
    left:0;
  }
  
  .box div .msg:focus {
    left:0;
  }

  .bookContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .card {
    width: 40%;
  }
  .yourBooks h2 {
    font-size: 2.6rem;
    font-weight: 900;
  }
}

@media only screen and (min-width: 992px) {

  form {
    width:30%;
  }

  header {
    font-size: 2rem;
   }

  .yourBooks h2 {
    font-weight: 900;
  }

  .bookContainer {
    
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    
  }

  .card {
    border-radius: 30px;
    width: 60vmin;
    height: 70vh;
    padding: 0 0 0 3rem;
  
  }
  .cardContent{
    padding-top: 3rem;
    height: 100%;
  }
  .remove {
    width: 10em;
    margin-bottom: 1em;
  }
}
